# 数据库地址
DATABASE_URL=""
# 接口前缀
API_PREFIX="/api"
# 端口
PORT=4000
# 跨域地址 可以多个
CORS_ORIGIN=[]
# JWT密钥
JWT_SECRET=""
# 环境 production 生产环境 development 开发环境
NODE_ENV="production"
# 飞书客户端ID
FEISHU_CLIENT_ID=""
# 飞书客户端密钥
FEISHU_CLIENT_SECRET=""
# 飞书授权类型
FEISHU_GRANT_TYPE="authorization_code"
# 飞书重定向URI
FEISHU_REDIRECT_URI=""

# 腾讯云API永久密钥
TENCENT_CLOUD_SECRET_ID=""
TENCENT_CLOUD_SECRET_KEY=""

# 千问模型API密钥
QWEN_API_KEY=""